 @charset "utf-8";
/*清除浮动*/
@charset "utf-8";
/* reset */
html { height: 100% }
body { min-height: 100%; min-width:1200px; overflow-x: hidden;}
body { _height: 100% }
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, iframe, pre, code, fieldset, legend, form, input, select, textarea, button, p, blockquote, th, td, figure { margin: 0; padding: 0 }
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, iframe, pre, code, fieldset, legend, form, p, blockquote, figure, header, footer, nav, article, section, aside, address, figcaption { *zoom: 1 }
li { list-style-type: none }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight:normal;}
iframe, frame, fieldset, img { border: 0 none }
img { vertical-align: top }
input[type=button], input[type=submit], input[type=reset] { cursor: pointer }
button { cursor: pointer }
input[type=text], input[type=password], input[type=file], textarea { -webkit-border-radius: 0; -webkit-appearance: normal }
input[type=search] { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; box-sizing: content-box }
textarea { overflow: auto; resize: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none }
caption, th { text-align: left }
th { font-weight: normal }
em, cite, address,i { font-style: normal }
sup { vertical-align: text-top }
sub { vertical-align: text-bottom }
body, input, select, button, textarea { font-size: 14px; font-family:"微软雅黑",arial,"\5b8b\4f53";  }
body { line-height: 1.17 }
a { text-decoration: none }
a { blr:expression(this.onFocus=this.blur()) }
a * { *cursor: pointer }
:focus { outline: none }

.edit_con_original{ line-height:1.5; padding:20px; color:#333;}
.edit_con_original li, .edit-con-original li { list-style-type: disc }
.edit_con_original h1, .edit-con-original h1 { font-size: 2em }
.edit_con_original h2, .edit-con-original h2 { font-size: 1.5em }
.edit_con_original h3, .edit-con-original h3 { font-size: 1.17em }
.edit_con_original h4, .edit-con-original h4 { font-size: 1em }
.edit_con_original h5, .edit-con-original h5 { font-size: 0.83em }
.edit_con_original h6, .edit-con-original h6 { font-size: 0.67em }
.edit_con_original em, .edit-con-original em { font-style: italic }
.edit_con_original cite, .edit-con-original cite { font-style: italic }
.edit_con_original address, .edit-con-original address { font-style: italic;}
.edit_con_original i, .edit-con-original i { font-style: italic }

.fixed:after, .clearfix:after, .cf:after, .header:after, .main:after, .footer:after { content: " "; display: block; clear: both; height: 0; overflow: hidden }
.fixed, .clearfix, .cf, .header, .main, .footer { *zoom: 1 }
.clear, .cl { display: block!important; float: none!important; clear: both; width: auto!important; max-width: none!important; min-width: 0!important; max-height: none!important; min-height: 0!important; overflow: hidden; margin: 0!important; padding: 0!important; border: 0 none!important; font-size: 0!important; line-height: 0!important }            
.lt9 .t-shadow { filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#99000000", EndColorStr="#99000000") }
.t-shadow {background: rgba(0, 0, 0, .5)}

.lf{ float: left;}
.rf{ float: right;}
.jz{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.w1000{ width: 1000px; margin: 0 auto; }
body{ background: #fafafa; }
.over_text{ overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}

/*水果首页*/
/*欢迎语*/
.welcome{ width: 100%; background: #eee; }
.welcome2 span,.welc_right li a{ line-height: 40px; font-size: 12px; color: #7d7d7d; }
.welc_right li{ float: left; }
.welc_right li:nth-last-child(1) a{border-right: none;}
.welc_right li a{ border-right: 1px solid #7d7d7d; padding: 0 10px;}
.welc_right li a i{ color: #e03064; }
.welc_right li a img{ margin-top: 12px; padding-right: 5px; }

/*logo搜索框*/
.logo_and_search{ padding: 10px 0 10px 25px; box-sizing: border-box; }

.search2{ padding-top: 30px; }
.search2 span i,.search2 span a{ font-size: 12px; color: #a0a0a0; }
.search2 span a:hover{ color: #2a9f3f; font-weight: bold; }
.search_inp{ width: 315px; position: relative; margin-top: 14px; }
.search_inp input{ text-indent: 32px; width: 240px; height: 30px; box-sizing: border-box; border: 1px solid #2a9f3f; }
.search_inp a{ width: 75px; line-height: 30px; background: #2a9f3f; color: #fff; display: block; text-align: center; }
.search_inp img{ position: absolute; top: 8px; left: 8px; }

.sear_add{ padding-top: 68px; margin-left: 36px; }
.sear_add span,.sear_add i{ font-size: 12px; color: #a0a0a0; }
.sear_add input{ width: 48px; height: 18px; border: 1px solid #a0a0a0; text-align: center; font-size: 14px; color: #2a9f3f; }
.sear_add i{ color: #2a9f3f; padding-left: 12px; }

/*导航*/
.nav{ width: 100%; background: #019f1d; }
.nav_left li{ float: left; }
.nav_left li a,.nav_left li i{ font-size: 16px; color: #fff; padding: 0 20px; line-height: 60px; display: block; }
.nav_left li:hover a{ background: #1b872e; }
.shopping_card{ background: #73c328; padding: 0 30px; }
.shopping_card a{ font-size: 16px; color: #fdef36; line-height: 60px; }
.shopping_card a img{ margin-top: 18px; padding-right: 15px; }
.nav2{ position: relative; }
.fruits{ position: absolute; top: 60px; left: 0; z-index: 999; }
.fruits li a{ font-size: 12px; background: #019f1d; display: block; width: 104px; color: #fff;
        text-indent: 28px; line-height: 25px; border-top: 1px solid #3fb654; }
.fruits li:hover a{ color: #29472e; background: #fdef36; }

/*banner*/
.banner{ margin: 0 auto; position: relative; }
.banner img{ width: 100%; }

/*限时抢购*/
.rush_buy{ margin-top: 36px; padding-bottom: 35px; }
.rush_buy li{ float: left; width: 235px;padding-bottom: 15px; margin-right: 20px; background: #fff; margin-bottom: 20px;}
.rush_buy li:nth-child(4n){ margin-right: 0; }
.rush_buy li h1{ font-size: 16px; color: #535353; font-weight: bold; padding: 8px 0 10px 0; }
.rush_buy li h2{ font-size:  12px; color: #aaaaaa; padding-bottom: 10px;}
.rush_buy li h1,.rush_buy li h2{ padding-left: 20px; }
.rush_buy li span{ font-size: 16px; color: #fff; display: block; line-height: 44px; background: red; text-align: center; }
.rush_buy li p{ font-size: 18px; color: red; padding: 15px 0 15px 20px; }
.rush_buy li p i,.rush_buy li p em,.buy_butt i{ font-size: 12px; color: #313131; }
.rush_buy li p em{ margin-left: 15px; text-decoration: line-through; }
.buy_butt i{ padding-left: 20px; margin-top: 5px; }
.buy_butt button{ margin-right: 22px; border: none; background: red; padding: 3px 14px; border-radius: 5px; font-size: 14px; color: #fff; }
.rush_buy li:hover{box-shadow: 1px 5px 12px #aaaaaa;}


/*优惠专区*/
.discount_tit{ width: 100%; border-bottom: 2px solid #019f1d; margin-bottom: 15px;}
.discount_tit2 h1{ font-size: 18px; color: #019f1d; font-weight: bold; line-height: 40px;}
.discount_tit2 h1 i{ font-size: 14px; color: #7d7d7d; font-weight: normal;}
.discount_tit2 a{ font-size: 16px; margin-top: 20px; color: #fff; background: #019f1d; border-radius: 5px; padding: 0 10px; font-family: "宋体";}

.discount_lists li{ float: left; width: 235px; height: 345px; margin: 0 20px 20px 0; border: 1px solid #e5e5e5; background: #fff;box-sizing: border-box;}
.discount_lists li:hover{ box-shadow: 0 2px 10px #c3c3c3;}
.discount_lists li:nth-child(4n){ margin-right: 0;}
.discount_lists li h1{ font-size: 14px; color: #434343; padding: 20px 0;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.discount_lists li:hover h1{ color: #019f1d;}
.discount_lists li h2{ font-size: 18px; color: #ff9900; font-weight: bold;}
.discount_lists li p,.discount_lists li h2 i{ font-size: 14px; color: #7d7d7d; font-weight: normal;}
.discount_lists li p{ margin-top: 5px; text-decoration: line-through;}
.discount_lists li h1,.discount_lists li h2,.discount_lists li p{padding-left: 16px;}

/*花样礼盒*/
.gift_bx{ width: 100%;padding-top: 20px;}
.gift_box li{ float: left; width: 198px; height: 260px; box-sizing: border-box; border: 2px solid #fff; margin-right: 2.5px;}
.gift_box li:hover{ border: 2px solid #2b981d;}
.gift_box li:nth-last-child(1){ margin-right: 0;}
.gift_box li img{ margin: 0 auto; display: block;}
.gift_box li h1{ font-size: 16px; color: #000; padding: 15px 0;}
.gift_box li h2{ font-size: 14px; color: #445059;}
.gift_box li h2 b{ color: #2b981d;}

.fru2{ padding: 0 0 55px 0; border-bottom: 1px solid #eee;}
.fru li{ float: left; position: relative; overflow: hidden; margin-right: 17px;margin-bottom: 17px;}
.fru li:nth-child(5n){ margin-right: 0;}
.fru li:hover .fru_posi{ bottom: 0;}
.fru_posi{ position: absolute; bottom: -100px; left: 0; width: 100%; height: 100px; box-sizing: border-box; background: rgb(255,255,255,0.6); padding: 8px;}
.fru_posi h1{ font-size: 14px; color: #1b872e;}
.fru_posi p{ font-size: 12px; color: #535353; margin: 10px 0;}
.fru_posi h2{font-size:12px; color: #535353;}
.fru_posi h2 b{ font-size: 14px; color: #fe5e13;}

/*多仓发货*/
.duoc{ background: #fff; width: 100%; box-shadow: 0 5px 15px #cbcbcb; position: relative;z-index: 99;}
.duocang{ margin: 0 auto;display: flex;justify-content: center;}
.duocang li{ float: left;}
.duocang li img.t9{ margin: 15px 6px 0 20px;}
.duocang li span{ font-size: 14px; line-height: 72px;}
.duocang li img.t10{ margin: 16px 0 0 20px;}

/*新手指南*/
.new3{ width: 100%; background: #eeeeee;}
.new2{ width: 140px; float: left; margin: 50px 0 60px 0;}
.new2 li h1{ font-size: 14px; color: #000; font-weight: bold; padding-bottom: 5px;}
.new2 li a{ font-size: 12px; color: #000; line-height: 25px;}
.new2 li:hover a{ color: #019f1d;}
.erwem{border-left: 1px solid #fff; width: 300px; box-sizing: border-box; margin-top: 50px;}
.erwem img,.erwem p{ margin: 0 auto; display: block; text-align: center; line-height: 18px;}

/*底部*/
.butt{ width: 100%; background: #000;}
.butt h1{ font-size: 12px; color: #626262; text-align: center; line-height: 55px;}























